<!DOCTYPE html>

<html>
    Site is currently undergoing maintenance TEST.
    {{>header}}

    <body>
        <div id='headerImg'>
             <img src='/img/bland.jpg'>
        </div>
        <div id='aboutContent'>
            Hello, blah blah blarg buy my stuff.
        </div>
        <div id='footer'>
            Facebook, instagram, etc.
            {{>footer}}
        </div>
    </body>
</html>
