<!DOCTYPE html>

<html>
    {{>header}}
    <body class='bg-gray-700'>
        {{>banner}}
        <div id='aboutContent' class='bg-gray-950'>
            <p class='cfText'>
                Hello, blah blah blarg buy my stuff.
            </p>
        </div>
        {{>footer}}
    </body>
</html>
