<!DOCTYPE html>

<html>
    {{>header}}
    <body class='bg-gray-700'>
        {{>banner}}
        <div id='aboutContent' class='bg-gray-950'>
            <p id='aboutTitle' class='cfText'>
                “Playing with Color”
            </p>
            <p id='aboutBody' class='cfText'>

I discovered my love for painting back in my high school Art 2 class with Mrs. Jones. We did
acrylic painting one week and I was hooked. I played around with if for years, taken with the sensation of
the glide of paint on canvas and looking forward to sharing with friends and family, waiting for them to
point out what they see hidden among the colors. They saw things I never intended or even noticed. I
stopped caring about “good” and just enjoyed the experience of painting. With time my skill and
confidence grew, until I was shocked by my own pride in my work.
I've always been drawn to bright colors and crazy patterns. I sit down with those in my brain and
just go, rarely having a specific goal in mind, and enjoy seeing what my hand might do. Sometimes the
“happy accident” became more; reshaping what I am doing or completely reforming the concept around
what caught my attention. I would allow the colors to tell their story through my brush.
I work with acrylic on canvas and would consider my work “abstract.” Trees have always been a
favorite and are a large focus of my work. Their forms and textures are such a pleasure to explore and will
end up as my subject, even without my intention. I discovered there is truly nothing better than just doing
what makes you happy. No matter how simple or small it may seem. Nurturing that light, letting it grow
until it lights up your whole world. Maybe even inspiring someone else to share something they didn't
think the world needed.
The world will always need color, in whatever form lightens your soul.
            </p>
        </div>
        {{>footer}}
    </body>
</html>
