<!DOCTYPE html>

<html>
    {{>header}}
    <body class='bg-gray-700'>
        {{>banner}}
        <div id='checkoutContent' class='bg-gray-950'>
            <div id='toteContents'></div>
            <div id='toteTotal'>
                <p id='itemsTotal'></p>
                <p id='shippingTotal'></p>
                <p id='grandTotal'></p>
            </div>
            <div id='paypalContent'>
            </div>
        </div>
        <button 
        <button type='button' id='payPalPurchase' class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cfButton'>Pay with PayPal</button>
        <script src='/js/checkout.js'></script>
    </body>
</html>
