<!DOCTYPE html>

<html>
    Site is currently undergoing maintenance TEST.
    {{>header}}
    <body>
        {{>banner}}
        <div id='contentContent'>
            Please reach out with questions or concerns.
            555-555-5555
            blarg@no.thanks
        </div>
        <div id='footer'>
            This will contain links and crap.
            {{>footer}}
        </div>
    </body>
</html>
