<!DOCTYPE html>

<html>
    {{>header}}
    <body class='bg-gray-700'>
        {{>banner}}
        <div id='contactContent' class='bg-gray-950'>
            <p class='cfText'>Please reach out with questions or concerns.</p>
            <p class='cfText'>clairefoxcreations@gmail.com</p>
            <p class='cfText'>For technical support, please email:</p>
            <p class='cfText'>richard.fox@foxsoftwaresolutions.org</p>
        </div>
        {{>footer}}
    </body>
</html>
