<!DOCTYPE html>

<html>
    Site is currently undergoing maintenance TEST.
    {{>header}}
    <body class='bg-gray-700'>
        {{>banner}}
        <div id='previewContent' class='bg-gray-950'>
        </div>
        {{>footer}}
        <script src='/js/index.js'></script>
    </body>
</html>
