<!DOCTYPE html>

<html>
    Site is currently undergoing maintenance TEST.
    {{>header}}

    <body>
        <div id='headerImg'>
             <img src='/img/bland.jpg'>
        </div>
        <div id='previewContent'>
            <img src='/img/mullet.png'>
            <img src='img/mullet.png'>
            <img src='img/mullet.png'>
            <img src='img/mullet.png'>
            <img src='img/mullet.png'>
        </div>
        <div id='footer'>
            This will contain links and crap.
            {{>footer}}
        </div>
        <script src='/js/index.js'></script>
    </body>
</html>
