<!DOCTYPE html>

<html>
    Site is currently undergoing maintenance TEST.
    {{>header}}
    <body>
        {{>banner}}
        <div id='previewContent'>
        </div>
        <div id='footer'>
            This will contain links and crap.
            {{>footer}}
        </div>
        <script src='/js/index.js'></script>
    </body>
</html>
