<!DOCTYPE html>

<html>
    Site is currently undergoing maintenance TEST.
    <body>
        {{>header}}
        <div id='previewContent'>
            <img src='/img/mullet.png'>
            <img src='img/mullet.png'>
            <img src='img/mullet.png'>
            <img src='img/mullet.png'>
            <img src='img/mullet.png'>
        </div>
        <div id='footer'>
            This will contain links and crap.
            {{>footer}}
        </div>
    </body>
</html>
