<!DOCTYPE html>

<html>
    Site is currently undergoing maintenance TEST.
    {{>header}}
    <body class='bg-gray-700'>
        {{>banner}}
        <div id='detailContent' class='bg-gray-950'>
            <div id='imageContent'>
            </div>
            <div id='imageDetails'>
                <p id='imageName'>Name:</p>
                <p id='imageWidth'>Width:</p>
                <p id='imageHeight'>Height:</p>
                <p id='imagePrice'>Price:</p>
            </div>
            <div id='detailButtons' class='rounded-md shadow'>
                <button type='button' id='addToTote' class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cfButton'>Add item to Tote</button>
                <br /><br />
                <button type='button' id='buyNow' class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cfButton'>Purchase now</button>
            </div>
            <div id='detailStatus'>
                <p id='toteStatus'></p>
            </div>
        </div>
        {{>footer}}
        <script src='/js/picsDetail.js'></script>
    </body>
</html>
