<!DOCTYPE html>

<html>
    <body class='bg-gray-700'>
        <div id='upgradesContent' class='bg-gray-950'>
            <p class='cfText'>
                Site is currently being upgraded.
            </p>
        </div>
    </body>
</html>
