<!DOCTYPE html>

<html>
    Site is currently undergoing maintenance TEST.
    {{>header}}
    <body class='bg-gray-700'>
        {{>banner}}
        <div id='previewContent' class='bg-gray-950'>
            <div id='toteContents'></div>
            <div id='toteTotal'>
                <p id='itemsTotal'></p>
                <p id='shippingTotal'></p>
                <p id='grandTotal'></p>
            </div>
            <button type='button'>Continue to checkout</button>
        </div>
        {{>footer}}
        <script src='/js/viewTote.js'></script>
    </body>
</html>
