<!DOCTYPE html>

<html>
    Site is currently undergoing maintenance TEST.
    {{>header}}
    <body>
        {{>banner}}
        <div id='previewContent'>
            <div id='toteContents'></div>
            <div id='toteTotal'>
                <p id='itemsTotal'></p>
                <p id='shippingTotal'></p>
                <p id='grandTotal'></p>
            </div>
            <button type='button'>Continue to checkout</button>
        </div>
        <div id='footer'>
            This will contain links and crap.
            {{>footer}}
        </div>
        <script src='/js/viewTote.js'></script>
    </body>
</html>
