<!DOCTYPE html>

<html>
    {{>header}}
    <body class='bg-gray-700'>
        {{>banner}}
        <div id='previewContent' class='bg-gray-950'>
            <div id='toteContents'></div>
            <div id='toteTotal'>
                <p id='itemsTotal' class='cfText'></p>
                <p id='shippingTotal' class='cfText'></p>
                <p id='grandTotal' class='cfText'></p>
            </div>
        </div>
        <div id="paypal-button-container" class="paypal-button-container"></div>
        <p id="result-message" class='ppText'></p>
        <p id='orderStatus' class='ppText'></p>
        <p id='errorStatus' class='errorText'></p>
        <!-- Containers for Card Fields hosted by PayPal -->
        {{>footer}}
        <script src="https://www.paypal.com/sdk/js?client-id=ARluNJCUOK8MOV3mJgvP0TdG5HYa1oiPUsvp3WJObQuyPGMa1KBFDCYF5SUEV64La-oHOpPSO35-Ufx5&buyer-country=US&currency=USD&components=buttons&enable-funding=venmo"></script>
        <script src='/js/viewTote.js'></script>
    </body>
</html>
