<div id='headerImg' class='bg-gray-500'>
    <img src='/img/bland.jpg'>
</div>

<div id='banner'>
    <!-- <a href='/'>Home</a>
    <a href='/pics'>All Pictures</a>
    <a href='/about'>About</a>
    <a href='/other'>Other Art</a>
    <a href='/contact'>Contact</a> -->
    <nav id='navBanner' class="relative bg-gray-800">
        <div class="mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
          <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start noWrapText">
            <div id='allWidth' class="hidden sm:ml-6 sm:block">
              <!-- <div class="flex space-x-4"> -->
                <div id='bannerItems'>
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
                <div id='navLinks'>
                    <a href="/" aria-current="page" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white">Home</a>
                    <a href="/pics" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">All Pictures</a>
                    <a href="/about" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">About</a>
                    <a href="/other" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Other Art</a>
                    <a href="/contact" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Contact</a>
                </div>
                <div id='toteLink'>
                    <a href='/viewTote' id='viewTote'>
                        <img src='/uploads/icons/tote.png'>
                            <p id='toteCount' class='cfText'>View Tote: </p>
                        </img>
                   </a>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</nav>
</div>
