<div id='headerImg'>
    <img src='/img/bland.jpg'>
</div>

<div id='banner'>
    <a href='/pics'>All Pictures</a>
    <a href='/about'>About</a>
    <a href='/other'>Other Art</a>
    <a href='/contact'>Contact</a>
    <a href='/viewTote' id='viewTote'>
        <Img src='/uploads/icons/tote.png'>
        <p id='toteCount'>View Tote: </p>
    </a> 
</div>
