<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
<div id='headerImg' class='bg-gray-500'>
    <img src='/img/8x24 C1C.jpg'>
</div>

<div id='banner'>
    <nav id='navBanner' class="relative bg-gray-800">
        <div class="mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <!-- Mobile menu button-->
                    <button type="button" command="--toggle" commandfor="mobile-menu" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white focus:outline-2 focus:-outline-offset-1 focus:outline-indigo-500 cfButton">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start noWrapText">
                    <div id='allWidth' class="hidden sm:ml-6 sm:block">
                        <!-- <div class="flex space-x-4"> -->
                        <div id='bannerItems'>
                            <div id='navLinks'>
                                <a id='banner-home' href='/' aria-current='page' class='rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white'>Home</a>
                                <a id='banner-pics' href='/pics?size=All' class='rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white'>All Pictures</a>
                                <a id='banner-about' href='/about' class='rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white'>About</a>
                                <a id='banner-other' href='/other' class='rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white'>Other Art</a>
                                <a id='banner-contact' href='/contact' class='rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white'>Contact</a>
                            </div>
                        <div id='toteLink'>
                            <a href='/viewTote' id='viewTote'>
                                <img src='/uploads/icons/tote.png'>
                                    <p id='toteCount' class='cfText'>View Tote: </p>
                                </img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <el-disclosure id="mobile-menu" hidden class="block sm:hidden">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
            <div class="space-y-1 px-2 pt-2 pb-3">
                <a id='banner-home' href='/' aria-current='page' class='block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white'>Home</a>
                <a id='banner-pics' href='/pics?size=All' class='block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white'>All Pictures</a>
                <a id='banner-about' href='/about' class='block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white'>About</a>
                <a id='banner-other' href='/other' class='block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white'>Other Art</a>
                <a id='banner-contact' href='/contact' class='block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white'>Contact</a>
            </div>
        </el-disclosure>
    </nav>
</div>
<script src='/js/utils.js'></script>
