<footer>

    <div id='footer'>
        <div id='fbLink'>
            <a href=''>
                <img src='/img/fb.png'>
            </a>
        </div>
        <p class='cfText'>Created by Fox Software Solutions</p>
    </div>

</footer>
