<!doctype html>
<head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel="icon" href="/img/logo.png">
    <link rel='stylesheet' type='text/css' href='/css/tailwind.css'/>
    <link rel="stylesheet" type="text/css" href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css"/>
    
    <p id='title' class='cfText'>
        {{header}}
    </p>
    <div id='announcements' class='cfText'>Current on Display at <a href='https://pinkbenchdistilling.com/'>The Pink Bench</a> in Troy MT!</div>

</head>
