<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/logo.png">
    <link rel='stylesheet' href='/css/styles.css'>

    <h2>{{header}}</h2>

    <div id='header-links'>
    <a href='/pics'>All Pictures</a>
    <a href='/about'>About</a>
    <a href='/other'>Other Art</a>
    <a href='/contact'>Contact</a>

    </div>
    <!-- <script src='/js/logInInfo.js'></script> -->
</head>
