@import "tailwindcss";

#headerImg{
    width: auto;
    border: solid;
}

#headerImg img {
   width: 100%;
}

#previewContent {
    border: solid;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-flex;
    justify-content: space-between;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#indexContent {
    border: solid;
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#indexContent img {
    border: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

div[id*=slidePics] {
    border: solid;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-flex;
    justify-content: space-between;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#previewContent img {
    border: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

#checkoutContent img {
    border: solid;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    border: solid;
}

#imageDetails {
    border: solid;
}

#detailContent {
    width: auto;
    border: solid;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

#detailContent div {
    float: left;
    clear: none;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#banner {
    display: flex;
    flex-wrap: wrap;
}

#viewTote {
    display: inline-flex;
    line-height: 2;
}

#viewTote img {
    height: 37px;
    margin-right: 10px;
}

.noWrapText {
    white-space: nowrap;
}

#viewTote p {
    float: right;
}

#banner a {
    padding-right: 10px;
}

div[class*="item_"] {
    display: flex;
    flex-wrap: wrap;
}

div[class*="imgP_"] {
    margin-left: 10px;
}

.removeLink {
    margin-left: 10px;
}

.cfButton:active {
    background: #6496b0;
    -webkit-box-shadow: inset 0px 0px 20px #6496b0;
    -moz-box-shadow: inset 0px 0px 5px #6496b0;
    box-shadow: inset 0px 0px 5px #6496b0;
}

.cfButton:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#navBanner {
    width: 100%;
}

.cfText {
    color: green;
}

a {
   @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
}

input {
	border: 0.0625rem solid #909697;
	border-radius: 0.25rem;
	box-sizing: border-box;
	background: #ffffff;
	font-family: inherit;
	font-size: 1.125rem;
	line-height: 1.5rem;
	padding: 1.25rem 0.75rem;
	width: 100%;
}

label {
    font-size: larger;
    font-weight: bold;
}

.ppInputDiv {
    margin: 5px;
    margin-top: 15px;
}

#navLinks {
    float: left;
}

#toteLink {
    float: right;
}

#allWidth {
    width: 100%
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.ppText {
    font-weight: bold;
    color: purple;
}
