@import 'tailwindcss';

#headerImg{
    width: auto;
    border: solid;
}

#headerImg img {
   width: 100%;
}

#previewContent {
    border: solid;
    padding-top: 5px;
    padding-left: 5px;
}

#previewContent img {
    border: solid;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    border: solid;
    margin-top: 10px;
}

#imageDetails {
    border: solid;
}

#detailContent {
    width: auto;
    border: solid;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

#detailContent div {
    float: left;
    clear: none;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#banner {
    display: flex;
    flex-wrap: wrap;
}

#viewTote {
    padding-left:90%;
}

#viewTote p {
    float: right;
}

#banner a {
    padding-right: 10px;
}

div[class*="item_"] {
    display: flex;
    flex-wrap: wrap;
}

div[class*="imgP_"] {
    margin-left: 10px;
}

.removeLink {
    margin-left: 10px;
}
